.bt-enlarger-image .modal-body img {
    max-width: 90vw!important;
    margin: 0% 5%!important;
}

.bt-enlarger-image .modal-fullscreen .modal-content {
  background-color: #000000;
}

.bt-enlarger-image .modal-fullscreen .modal-header {
  border: none;
}

.bt-enlarger-image .svg-link {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('images/lupa.svg');
  background-size: contain; /* Ajusta la imagen SVG al tamaño del contenedor */
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  position: relative;
  bottom: 50px;
  left: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px #ffffff solid;
  opacity: 0.5;
}

.bt-enlarger-image .svg-link:hover {
  opacity: 0.8; /* Cambia la opacidad al pasar el cursor */
}
